# IDE/Editor files
.idea
.bsp
.ensime
.ensime_cache/
scorex.yaml

#personal
todo

# scala build folders
target

# logs
*.log
*.log.gz
*.tmp

# local build
project/project/

# metals, bloop, vscode
.bloop/
.metals/
.vscode/
project/metals.sbt

# scala worksheets
*.worksheet.sc